<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Vehicle Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 30px;
      width: 50%;
    }

    h2 {
      color: #333;
      text-align: center;
      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="file"],
    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      color: #555;
    }

    input[type="text"]:focus,
    input[type="file"]:focus,
    button:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    button {
      display: block;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: #007bff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>

  </head>

  <body>
    <div class="container mt-5 w-50">
      <h2 class="mb-4">Add New Vehicle</h2>
      <form action="/addvehical" method="POST" enctype="multipart/form-data">
        <input type="text" name="make" placeholder="Type" required>
        <input type="text" name="model" placeholder="Model" required>
        <input type="text" name="year" placeholder="Year" required>
        <input type="text" name="registeredNumber" placeholder="Registered Number" required>
        <input type="text" name="fuelCapacity" placeholder="Fuel Capacity" required>
        <input type="text" name="fuelType" placeholder="Fuel Type" required>
        <input type="text" name="dpkm" placeholder="Km per liter" required>
        <input type="file" name="vehicalImage" accept="image/*" required>
        <button type="submit">Add Vehicle</button>
      </form>

      </form>
    </div>
  </body>

</html>